  <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <div class="alert alert-danger">
            <li><%= message %></li>
          </div>    
        <% end %>
      </ul>
    </div>
  <% end %>
