
/******************
    dropdown
********************/

ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
  }
  
  
  ul.drop-menu li{
    display: none;
  }
  
  li:hover > ul.drop-menu li {
    display: block;
  }
  
  
  li:hover > ul.drop-menu.menu-4 {
    perspective: 1000px;
  }
  li:hover > ul.drop-menu.menu-4 li {
    transform-origin: top center;
    opacity: 0;
  }
  li:hover > ul.drop-menu.menu-4 li:nth-child(1) {
    animation-name: menu-4;
    animation-delay: -150ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  li:hover > ul.drop-menu.menu-4 li:nth-child(2) {
    animation-name: menu-4;
    animation-delay: 0ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  li:hover > ul.drop-menu.menu-4 li:nth-child(3) {
    animation-name: menu-4;
    animation-delay: 150ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  li:hover > ul.drop-menu.menu-4 li:nth-child(4) {
    animation-name: menu-4;
    animation-delay: 300ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  li:hover > ul.drop-menu.menu-4 li:nth-child(5) {
    animation-name: menu-4;
    animation-delay: 450ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  li:hover > ul.drop-menu.menu-4 li:nth-child(6) {
    animation-name: menu-4;
    animation-delay: 600ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  @keyframes menu-4 {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    70% {
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /******************
      End-dropdown
  ********************/
  
