<!-- ======= restaurants lists ======= -->
<body id="menu">
<section id="why-us" class="why-us">
  <div class="container">

    <div class="section-title">
      <h2>Les Restaurants <span>le plus proche de votre position</span></h2>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>

    <div class="row">
      <% @restaurants.each do |resto|%>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <a href="<%= resto_path(resto.id) %>">
          <div class="box">
            <div class="hei">
              <span><%= resto.name %></span>
              <h4><%= resto.adress %></h4>
            </div>
              <p class=""><%= resto.description %></p>
          </div>
        </a>
      </div>
      
      <%end%>
    </div>
  </div>
</section>
</body>

