<div class="container" style="margin-top: 6%;">
	<center><h2>RESERVER dans "<%= @resto.name %>"</h2></center>
	<div class="row">

		<!-- =====RESERVATION===== -->

		<div class="col-sm-9" >
			<h3>COMMANDES</h3>

			<i> Nombre des personnes : </i>
			<a href="javascript:void(0)" class="btn btn-info" id = 'deleteperson'>-</a>
			<strong><span id = 'nbr_person' data-person=0> 0 </span> </strong>
			<a href="javascript:void(0)" class="btn btn-info" id = 'addperson'>+</a>
			<hr>

			<div id="menuPersonne">


			</div>

		</div>

		<!-- =====PANIER PANIER ====-->

		<div class="col-sm-3" >
			<center><h3>PANIER</h3></center>
			
		</div>
	</div>


</div>


<!-- ===========================POUR RECUPERER LES DONNÉES DANS LE CONTROLLER==============-->


<!-- Datas entrées -->
<% unless @entrees.empty? %>
<% @entrees.each do |entree|%>
<div class="hidden entrees" data-entrees="<%= entree.name %>"></div>
<%end%>
<%end%>

<!-- Datas resistances -->
<% unless @resistances.empty? %>
<% @resistances.each do |resistance|%>
<div class="hidden resistances" data-resistances="<%= resistance.name %>"></div>
<%end%>
<%end%>


<!-- Datas desserts -->
<% unless @desserts.empty? %>
<% @desserts.each do |dessert|%>
<div class="hidden desserts" data-desserts="<%= dessert.name %>"></div>
<%end%>
<%end%>

</div>


<script src="/js/order.js"></script>

