<div class="container" style="margin-top: 6%;">
	<center><h2>RESERVER dans "<%= @resto.name %>"</h2></center>
	<div class="row">

		<!-- =====RESERVATION===== -->

		<div class="col-sm-9" >
			<h3>COMMANDES</h3>

			<!-- session js -->
			<%= form_tag(addperson_path,id:"form-data",'data-menus':"#{@datamenus}", 'data-resto':"#{@resto.id}") do %>

			<i> Nombre des personnes : </i>
			<a href="javascript:void(0)" class="btn btn-info" id = 'deleteperson'>-</a>
			<strong><span id = 'nbr_person' data-person=0> 0 </span> </strong>
			<a href="javascript:void(0)" class="btn btn-info" id = 'addperson'>+</a>
			<hr>

			<div id="menuPersonne">


			</div>

			<%end%>
		</div>

		<!-- =====PANIER PANIER ====-->

		<div class="col-sm-3" >
			<center><h3>PANIER</h3></center>
			<div id="res-order">


			</div>
<div class="alert alert-info">Prix total : <span id='total_price'>0 Ar</span></div> 
			<div>

				<%= submit_tag("valider") %>
			</div>
		</div>

	</div>


</div>


<script src="/js/order.js"></script>

