 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Delicious</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#specials">Specials</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li>

          <li class="book-a-table text-center"><a href="#" style="width:13em;">Connexion</a>
            
            <%if client_signed_in?%>   
              <ul class="drop-menu menu-4">           
                <li class="b"><%= link_to "Se deconnecter", destroy_client_session_path, method:"delete"%></li> 
              </ul>
            <% else %>
              <ul class="drop-menu menu-4">
                <li><%= link_to "Se connecter", new_client_session_path %></li> 
                <li><%= link_to "S'inscrire", new_client_registration_path %></li> 
              </ul>
            <% end %> 
          
          </li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
